.myApp {
    background-image: url(aset/pattern.jpg);
    font-family: 'Slabo 27px', serif;
    margin: 0px;
    /*height: 100%;
    background-Size: 'cover';*/
    min-height: calc(100vh);
    /*height: 1200px;*/
    background-attachment: fixed;
    background-size: cover;
}

.app1 {
    min-height: calc(100vh);
}

.app2 {
    min-height: calc(100vh + 500px);
}

header {
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

section {
    margin-left: 200px;
    margin-right: 200px;
    background-color: white;
    position: relative;
    top: 70px;
    padding: 20px;
    margin-bottom: 100px;
}

h1 {
    text-align: center;
}

h5 {
    text-align: center;
}

footer {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: black;
    color: white;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.border {
    border: 1px solid lightgray;
    padding: 15px;
}

/* ================== */
.daftar {
    border-bottom: 2px solid lightgrey;
}

.daftar .kotak {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: flex;
}

.daftar .gambar {
    width: 500px; /*any size*/
    height: 300px; /*any size*/
    display: inline-block;
}

.daftar .gambar img{
    width: 100%;
    height: 100%;
    object-fit: cover; /*magic*/
}

.daftar .details {
    display: inline-block;
    width: 45%;
    margin-left: 20px;
}

.nama {
    font-weight: bold;
}

/* ================== */
form, .cari {
    text-align: center;
}
.form-group {
    padding-bottom: 10px;
}
form textarea { width:18em; }

/* ================== */

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
  }
  
  label{
    font-weight: bold;
    margin-right: 10px;
  }
  




